@import "smart-grid";

.address {
  //background: url("../img/greek.svg") repeat-x center bottom;
  padding-top: 124px;
  padding-bottom: 120px;
  .md-block({
    padding-top: 70px;
    padding-bottom: 70px;
  });
  .sm-block({
    padding-bottom: 40px;
  });

  &_body {
    .col();
    .size(4);
    .size-xs(12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;

      .md-block({
          font-size: 28px!important;
        margin-bottom: 10px;
      });
      .sm-block({
        font-size: 20px!important;
      });
      .xs-block({
        text-align: center;
      });
    }
    address {
      b {
        display: block;
      }
      p {
        span {
          display: block;
        }
        font-size: 20px;
        line-height: 110%;
        padding-bottom: 35px;
        .pm;
        .xs-block({
          padding-bottom: 8px;
          text-align: center;
        });
      }
    }

    > span {
      display: block;
      line-height: 125%;
      padding-bottom: 20px;
      .xs-block({
        text-align: center;
      });

    }

  }

  &_slider {
    .col();
    .size(8);
    .size-xs(12);
    display: flex;
    flex-direction: column;
  }

  &_slide {
    width: 100%;
    margin-bottom: 20px;
    aspect-ratio: 721 / 297;
    overflow: hidden;
    img {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  &_slides {
    display: flex;
    justify-content: space-between;

    //width: calc();
    gap: 8px;
    picture {
      display: block;
      aspect-ratio: 10 / 5;
      overflow: hidden;
      flex: 1 1 0;
      img {
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }


}