@import "smart-grid";

.feedback {
  //background: url("../img/greek.svg") repeat-x center bottom;
  margin-top: 112px;
  &_row {
    .row-flex;
  }

  &_col {
    .col();
    .size(1);
  }

  &_box {
    .col();
    .size(12);

    border-radius: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: @color-light;

    p {
      font-size: 28px;
      line-height: 40px;
    }
  }

  &_body {
    .col();
    .size(5);
    display: flex;
    flex-direction: column;
  }

  &_header {
    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;
      b {
        color: @color-accent;
        display: block;
      }
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding-bottom: 40px;
  }

  &_links {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_link {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &.active {
      &:after {
        content: '';
        width: 85px;
        height: 85px;
        border-radius: 50%;
        border: 2px solid @color-accent;
        background: transparent;
        position: absolute;
        top: -8px;
        left: -8px;

      }
    }
  }

  &_person {
    .bold;
    margin-top: 44px;
    b {
      display: block;
      text-transform: uppercase;
    }
  }

  &_video {
    .col();
    .size(4);
    height: 480px;
    position: relative;
    border-radius: 50px;
    background: url("../img/v.png") no-repeat center;
    .play {
      width: 73px;
      height: 73px;
      border-radius: 50%;
      background: url("../img/play-btn.svg") no-repeat center;
      background-size: 100%;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      position: absolute;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
    }
  }

  &_footer {
    .col();
    .size(12);
  }

  &_aside {
    .col();
    .size(12);
  }


}