@import "smart-grid";
footer {
  padding-top: 82px;
  padding-bottom: 100px;
  background: @color-text;
}
.footer {
  justify-content: space-between;

  a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 11px;
    white-space: nowrap;
    color: @color-light;
    .md-block({
      font-size: 15px;
    });
    .sm-block({
      text-align: center;
    });
    &:hover {
      text-decoration: underline;
    }
  }

  &-menu {
    .col();
    .size-sm(12);

    display: flex;
    flex-direction: column;
    h2 {
      font-size: 36px;
      margin-bottom: 35px;
      color: @color-light;
      .h2m;
      .sm-block({
        text-align: center;
      });
    }

  }

  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .size-sm(12);
    .sm-block({
      margin: 20px 0;
    });
    .tel {
      font-size: 36px;
      line-height: 160%;
      .md-block({
        font-size: 30px;
      });
    }
    .mailto {
      font-size: 20px;
      .md-block({
        font-size: 18px;
      });
    }
  }

  &-policy {
    .col();
    .size-sm(12);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    a {
      font-size: 14px;
    }

  }

  &-socials {
    display: inline-flex;
    align-items: center;
    gap: 38px;
    padding-top: 10px;
    margin-bottom: auto;
    .sm-block({
      justify-content: center;
    });
    .tg-tr {
      width: 29px;
      height: 29px;
      background: url("../img/tg-tr.svg") no-repeat center;
      background-size: contain;
    }
    .tg-w {
      width: 29px;
      height: 29px;
      background: url("../img/tg-w.svg") no-repeat center;
      background-size: contain;
    }
    .vk {
      width: 32px;
      height: 20px;
      background: url("../img/vk.svg") no-repeat center;
      background-size: contain;
    }

    .rutube {
      width: 32px;
      height: 28px;
      background: url("../img/retube.svg") no-repeat center;
      background-size: contain;
    }
  }

}