@import "smart-grid";

.invited {
  padding-top: 86px;
  padding-bottom: 68px;

  &_header {
    .col();
    .size(7);
    margin-bottom: 67px;

    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;
    }
  }

  &_content {
    .col();
    .size(6);

    ul {
      li {
        font-size: 16px;
        display: block;
        margin-bottom: 20px;
        padding-right: 100px;
        line-height: 143%;
      }
    }
  }

}