@import "smart-grid";

.join {
  padding-bottom: 202px;
  background: url("../img/greek.svg") repeat-x bottom;
  &_wrapper {
    padding-top: 70px;
    align-items: center;

  }
  &_text {
    .col();
    .size(6);
    font-size: 20px;
    line-height: 150%;
  }
  &_pic {
    .col();
    .size(6);
    height: 280px;
    background: @color-substrate;
  }
  &_advantages {
    .col();
    .size(12);
    margin-top: 87px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
  }

  &_advantage {
    margin-right: 3%;
    &:last-of-type {
      margin-right: 0;
    }
    b {
      font-size: 48px;
      line-height: 30px;
      display: block;
      margin-bottom: 26px;
      color: @color-accent;
    }

  }

}