@import "smart-grid";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, .8);
  display: none;
  z-index: 100;
  &.open {
    display: block;
  }
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
  &-frame {
    .col();
    .size(12);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &-content {
    background: @color-light;
    min-width: 300px;
    min-height: 200px;
    position: relative;
    padding: 30px;
    border-radius: 10px;
    > button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: unset;
      outline: unset;
      cursor: pointer;
      padding: 0;
      width: 30px;
      height: 30px;
      &:hover {
        color: @color-accent;
      }
    }
  }


  &-header {
    font-size: 20px;
    .bold;
    text-transform: uppercase;
  }


  &-body {
    p {
      //font-size: 28px;
      //line-height: 40px;
      margin-top: 20px;
    }
  }

  iframe {
    width: 720px;
    height: 405px;
    min-width: 320px;
    .sm-block({
      width: auto;
      height: auto;

    });
  }
}