@import "smart-grid";

.purpose {
  color: @color-light;
  background: url("../img/greek-2.svg") no-repeat right 0 @color-accent;
  &_aside, &_body {
    .col();
    .size(6);
    .col();
    .size(6);
    padding-top: 163px;
    padding-bottom: 198px;
  }
  &_body {

    h2 {
      .bold;
      font-size: 40px;
      word-spacing: 999em;
      margin-bottom: 41px;
    }
    p {
      font-size: 28px;
      line-height: 40px;
    }
  }
}