@import "smart-grid";

.sponsor {
  //margin-top: 173px;
  padding-top: 90px;
  padding-bottom: 100px;
  background: @color-light;

  .md-block({
    padding-top: 70px;
    padding-bottom: 70px;
  });

  &_header {
    .col();
    .size(12);

    background: url("../img/logo.png") no-repeat right center;
    background-size: auto 78px;
    .xs-block({
      background-size: auto 50px;
    });

    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 120%;
      .h2m;


      span {
        display: block;
        color: @color-accent;
      }
    }
  }

  &_body {
    .col();
    .size(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    img {
      flex-shrink: 0;
      align-self: center;
    }

    .xs-block({
      display: flex;
      img {

      }
      justify-content: center;
    });
    .md-block({
      margin-top: 60px;
    });
    .sm-block({
      margin-top: 60px;
    });

  }

  &_logos {

    &_1 {
      width: 157px;
      .xs-block({
        width: 160px
      });
    }

    &_2 {
      width: 348px;
    }

    &_3 {
      width: 200px;
    }

    &_4 {
      width: 345px;
    }

    &_5 {
      width: 170px;
    }

    &_6 {
      width: 180px;
    }

    &_11 {
      width: 250px;
    }

  }


}