@import "smart-grid";

.support {
  margin-top: 173px;
  padding-top: 90px;
  padding-bottom: 70px;
  background: @color-light;

  &_header {
    .col();
    .size(12);

    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 120%;

      span {
        display: block;
        color: @color-accent;
      }
    }
  }

  &_body {
    .col();
    .size(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;

    img {
      flex-shrink: 0;
      align-self: center;

    }


  }

  &_logos {
    &_1 {
      width: 240px;
    }

    &_2 {
      width: 227px;
    }

    &_3 {
      width: 180px;
    }

    &_4 {
      width: 159px;
    }

    &_5 {
      width: 189px;
    }

    &_6 {
      width: 215px;
    }

    &_7 {
      width: 234px;
    }

    &_8 {
      width: 156px;
    }

    &_9 {
      width: 218px;
    }

    &_10 {
      width: 205px;
    }
  }

  &_footer {
    .col();
    .size(12);
    display: flex;
    justify-content: center;
    margin-top: 68px;
  }


}