@import "smart-grid";

.support {
  //margin-top: 173px;
  padding-top: 90px;
  padding-bottom: 70px;
  background: @color-light;

  .md-block({
    padding-top: 70px;
    padding-bottom: 70px;
  });

  &_header {
    .col();
    .size(12);

    h2 {
      .bold;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 120%;
      .h2m;

      span {
        display: block;
        color: @color-accent;
      }
    }
  }

  &_top {
    .col();
    .size(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 85px;
    margin-bottom: 20px;
    .md-block({
      gap: 10px;
    });
    .xs-block({
      margin-bottom: 0;
    });
  }
  &_body {
    .col();
    .size(12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .xs-block({
      margin-top: 0;
    });

    img {
      flex-shrink: 0;
      align-self: center;
    }

  }

  &_logos {
    &_1-1 {width: 121px;}
    &_1-2 {width: 120px;}
    &_1-3 {width: 240px;}
    &_1 {
      width: 180px;
      .xs-block({
        width: 160px
      });
    }

    &_2 {
      width: 180px;
    }

    &_3 {
      width: 128px;
    }

    &_4 {
      width: 123px;
    }

    &_5 {
      width: 145px;
    }

    &_6 {
      width: 142px;
    }

    &_7 {
      width: 118px;
    }

    &_8 {
      width: 128px;
    }

    &_9 {
      width: 167px;
    }

    &_10 {
      width: 111px;
    }
    &_11 {
      width: 155px;
    }
    &_12 {
      width: 146px;
    }
    &_13 {
      width: 62px;
    }
    &_14 {
      width: 107px;
    }
  }

  &_footer {
    .col();
    .size(12);
    display: flex;
    justify-content: center;
    margin-top: 68px;
  }


}